# Nucleo de Inteligencia Artificial para DeepWave
tensorflow>=2.10.0

# Procesamiento de Matrices y Ciencia de Datos para FTRT
numpy>=1.23.0
scipy>=1.9.0

# Herramientas de Audio para CERN-Bridge
scipy

# Utilidades (Opcional pero recomendado para futuros análisis)
pandas
matplotlib
